package ${package}.controller.${classname};

import ${mainPath}.common.auth.AuthUser;
import ${mainPath}.common.auth.AuthUtil;
import ${mainPath}.common.framework.base.controller.BaseController;
import ${mainPath}.common.util.http.ApiResult;
import ${mainPath}.common.util.page.PageUtils;
import ${mainPath}.common.util.result.JsonUtil;
import ${package}.api.service.${className}Service;
import ${package}.api.vo.${className}Vo;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.Map;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping(value="/${classname}",produces = "application/json;charset=UTF-8")
public class ${className}Controller extends BaseController{

    @Autowired
    private ${className}Service ${classname}Service;

    @Autowired
    private AuthUtil authUtil;

    /**
     * 列表
     */
    @RequestMapping("/list")
    ##    @RequiresPermissions("${moduleName}:${pathName}:list")
    public ApiResult list(@RequestParam Map<String, Object> params) {
        PageUtils page = ${classname}Service.queryForPage(params);
        return ApiResult.ok().page(page);
    }


    /**
     * 保存信息
     * @param vo
     * @return ApiResult
     */
    @PostMapping(value = "saveOrUpdate")
    public ApiResult saveOrUpdate(@RequestBody ${className}Vo vo){
        return  ${classname}Service.save${className}(vo);
    }

    /**
     * 查询信息
     * @param id
     * @return ApiResult
     */
    @GetMapping(value = "info/{${pk.attrname}}")
    public ApiResult info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        ${className}Vo vo = ${classname}Service.getVoById(${pk.attrname});
        return ApiResult.ok().put("vo",vo);
    }
    /**
     * 删除信息
     * @param id
     * @return ApiResult
     */
    @PostMapping(value = "del")
    public ApiResult del(String id){
        ${classname}Service.del(id);
        return ApiResult.ok();
    }

}