package ${package}.service.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.api.entity.${className}Entity;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
}
